@page "/stack"

<RadzenExample Name="Stack">
    <RadzenCard Class="my-4" style="display: flex; align-items: center; gap: 0.5rem">
        <div style="white-space:nowrap; margin-right: 16px">Orientation:</div>
        <RadzenSelectBar @bind-Value="@orientation" TextProperty="Text" ValueProperty="Value"
                         Data="@(Enum.GetValues(typeof(Orientation)).Cast<Orientation>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" />
        <div style="white-space:nowrap;margin-left: 16px">Spacing:</div>
        <RadzenNumeric @bind-Value="@spacing" Format="0px" />
    </RadzenCard>

    <div class="col-md-6 p-3">
        <RadzenStack Orientation="@orientation" Spacing="@($"{spacing}px")">
            <RadzenCard Class="mt-3">
                Item 1
            </RadzenCard>
            <RadzenCard Class="mt-3">
                Item 2
            </RadzenCard>
            <RadzenCard Class="mt-3">
                Item 3
            </RadzenCard>
        </RadzenStack>
    </div>

</RadzenExample>
@code {
    Orientation orientation = Orientation.Horizontal;
    double spacing = 10;
}
